<IfModule wsgi_module>
 WSGIDaemonProcess fgAPIServer  user={{ fg_user }} group={{ fg_user }}  processes=5 threads=10 home=/home/{{ fg_user }}/fgAPIServer
 WSGIProcessGroup {{ fg_user }}
 WSGIPythonHome /home/{{ fg_user }}/fgAPIServer/venv
 WSGIScriptAlias /apis /home/{{ fg_user }}/fgAPIServer/fgapiserver.wsgi
 WSGIPassAuthorization On
 <Directory /home/{{ fg_user }}/fgAPIServer>
   WSGIProcessGroup fgAPIServer
   WSGIApplicationGroup %{GLOBAL}
   Order deny,allow
   Allow from all
   Options All
   AllowOverride All
   Require all granted
 </Directory>
</IfModule>
<IfModule mod_proxy_ajp.c>
 ProxyPass "/apis/" "!"
 ProxyPass "/" "ajp://localhost:8009/"
</IfModule>
