#
# FutureGateway API Server configuration file
#
# Author: riccardo.bruno@ct.infn.it
#

# fgapiserver settings
[fgapiserver]
fgapiver            = {{ fgapiver }}
fgapiserver_name    = {{ fgapiserver_name }}
fgapisrv_host       = {{ fgapisrv_host }}
fgapisrv_port       = {{ fgapisrv_port }}
fgapisrv_debug      = {{ fgapisrv_debug }}
fgapisrv_iosandbox  = {{ fgapisrv_iosandbox }}
fgapisrv_geappid    = {{ fgapisrv_geappid }}
fgjson_indent       = {{ fgjson_indent }}
fgapisrv_key        = {{ fgapisrv_key }}
fgapisrv_crt        = {{ fgapisrv_crt }}
fgapisrv_logcfg     = {{ fgapisrv_logcfg }}
fgapisrv_dbver      = {{ fgapisrv_dbver }}
fgapisrv_secret     = {{ fgapisrv_secret }}
fgapisrv_notoken    = {{ fgapisrv_notoken }}
fgapisrv_notokenusr = {{ fgapisrv_notokenusr }}
fgapisrv_lnkptvflag = {{ fgapisrv_lnkptvflag }}
fgapisrv_ptvendpoint= {{ fgapisrv_ptvendpoint }}
fgapisrv_ptvuser    = {{ fgapisrv_ptvuser }}
fgapisrv_ptvpass    = {{ fgapisrv_ptvpass }}
fgapisrv_ptvdefusr  = {{ fgapisrv_ptvdefusr }}
fgapisrv_ptvdefgrp  = {{ fgapisrv_ptvdefgrp }}
fgapisrv_ptvmapfile = {{ fgapisrv_ptvmapfile }}

# geapiserver database settings
[fgapiserver_db]
fgapisrv_db_host = {{ fg_db_host }}
fgapisrv_db_port = {{ fg_db_port }}
fgapisrv_db_user = {{ fg_db_user }}
fgapisrv_db_pass = {{ fg_db_password }}
fgapisrv_db_name = {{ fg_db_name }}

