Alias /fgtest /home/{{ fg_user }}/fgAPIServer/fgtest/www
<Directory /home/{{ fg_user }}/fgAPIServer/fgtest/www>
  Order deny,allow
  Allow from all
  Options All
  AllowOverride All
  Require all granted
</Directory>
